@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono:400,500|VT323&display=swap');

.container {
  max-width: 960px;
}

.hero-title {
  font-size: 60px;
}

.elevator-pitch {
  // font-family: 'VT323', monospace;
  font-family: 'Share Tech Mono', monospace;
  font-size: 26px;
  border-top: 1px solid #ababab;
  text-align: center;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.main-button {
  min-width: 230px;
  height: 42px;
  margin: 0.7rem;
  font-size: 17px !important;
  font-family: 'Share Tech Mono', monospace;
  border-color: #ababab;

  // text and border buttons
  color: #ff2600;
  border-color: #ff2600;

  // // full colour buttons
  // color: #ffffff;
  // border-color: #ff2600;
  // background-color: #ff2600 !important;

  // animation
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.main-button:hover {
  color: #ffffff;
  border-color: #ff2600;
  background-color: #ff2600 !important;
}

.buttons-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media only screen and (max-width: 760px) {
  .container {
    margin: 0px 32px;
  }
  .buttons-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.line-1{
  width: 70px;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  // font-family: 'Share Tech Mono', monospace;
  font-family: 'VT323', monospace;
}

.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}

// Animations
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}